#app {
   height: 100vh;
   display: flex;
}

body {
   margin: 0;
   overscroll-behavior: none;
}

canvas {
   margin: auto;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateY(-50%) translateX(-50%);
}
